<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>chu-ji-shu-ju-chan-pin-jing-li-jin-jie-zhi-lu (陈新涛的 MacBook Pro 的冲突副本 2017-04-15).md</string>
		</array>
		<array>
			<string>chu-ji-shu-ju-chan-pin-jing-li-jin-jie-zhi-lu.md</string>
		</array>
	</array>
</dict>
</plist>
